.background-hero{
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    text-align: center;
    padding: 0 20px;
    color: white;
    position: relative;
}
.relative{
    position: relative;
}
.hero-filter{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
}


.background-coc{
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 0 20px;
    color: white;
    position: relative;
}



/**/
.banner-filter{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 60vh;
    width: 100%;
    background-color: black;
    opacity: 0.7;
}

.learn-more{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 34px;
    gap: 10px;
    font-weight: 500;
    width: fit-content;
    height: 45px;
    color: black;
    background: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}


#style-4::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: 0 0 6px rgba(0,0,0,0.3) ;
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}

.slick-dots li button:before
{
    font-size: 15px !important;
    color: #975251 !important;
}

#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #434853;
}

#style-2::-webkit-scrollbar
{
	scrollbar-width: thin;
    height: 6px;
	background-color: #434853;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 6px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: white;
}

.slick-center img{
    -webkit-transform: scale(1.50);
    -moz-transform: scale(1.50);
    transform: scale(1.50); 
}

.slick-center .text-low{
    padding-top: 60px;
}

.slick-active .text-low{
    transition: all .3s ease-in-out;
} 

.slick-active img{
    transition: all .3s ease-in-out;
}

.fa-circle-arrow-right:hover{ 
    color: gray;
    text-shadow: 0 0 3px gray;
    transform: scale(1.20); 
    transition: all .2s ease-in-out;
}
  
.fa-circle-arrow-left:hover{ 
    color: gray;
    text-shadow: 0 0 3px gray;
    transform: scale(1.20); 
    transition: all .2s ease-in-out;
}

@media only screen and (min-width: 800px){
    .slick-list {
        margin: 0 -30px !important;
      }
      
      .slick-slide > div {
        padding: 0 120px !important;
      }
}

@media only screen and (max-width: 700px){
    .slick-track {
        margin:auto;
    }
}